@charset "utf-8";

@font-face {
  font-family: "regular-kor";
  src: url("../font/elandL.woff");
}

@font-face {
  font-family: "thin";
  src: url("../font/Raleway-Thin.woff");
}

@font-face {
  font-family: "light";
  src: url("../font/Raleway-Light.woff");
}

@font-face {
  font-family: "regular";
  src: url("../font/Raleway-Regular.woff");
}

@font-face {
  font-family: "bold";
  src: url("../font/Raleway-Bold.woff");
}

@font-face {
  font-family: "script";
  src: url("../font/Alviona.woff");
}

@font-face {
  font-family: "scriptCN";
  src: url("../font/GSKA00B.woff");
}

.kr{
  font-family: "regular-kor";
  font-size: 1.2rem;
}

/* CSS Document */
:root {
  --c0: #272221;
  --c1: #c5ccad;
  --c2: #00d7c9;
  --c3: #f2f2f2;
  --c4: #d1d6e5;
}

::selection {
  background-color: var(--c0);
  color: var(--c1);
}

*{
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
	box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background-color: #c1c2c9;
  overflow-x: hidden;
  overflow-y: auto;
  color: var(--c0);
}

/* CUSTOMIZED SCROLLBAR */
		/* width */
		::-webkit-scrollbar {
		  width: 5px;
		}
		/* Track */
		::-webkit-scrollbar-track {
		  box-shadow: inset 0 0 5px rgba(0,0,0,0.1);
		  border-radius: 5px;
		}
		/* Handle */
		::-webkit-scrollbar-thumb {
		  background: #bdbdbd;
		  box-shadow: none;
		  border-radius: 5px;
		}
		/* Handle on hover */
		::-webkit-scrollbar-thumb:hover {
		  background: var(--c2);
      transition: 0.35s ease;
		}

body{
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  font-family: 'regular', sans-serif;
  flex-direction: column;
}

/* PARTICLE BACKGROUND */
.particle-bg{
  /* z-index: -1; */
  width: 100vw;
  height: 100vh;
  position: absolute;
  bottom: 0;
  left: 0;
  filter: blur(1px);
  background: linear-gradient(#727272, #dfdfdf);
  position: fixed;
  z-index: -1;
}

section{
  width: 100vw;
  pointer-events: inherit;
  border: 1px solid black;
}

.herocontent{
  height: 100vh;
  position: relative;
}

.herocontent a{
  font-family: "script";
  font-size: 18rem;
  color: var(--c0);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center;
  text-decoration: none;
  /* animation: asthma 3.33s ease-in-out infinite; */
}

@keyframes asthma {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-3px);
    }
}

.herocontent a:hover{
  filter:blur(6px);
  opacity: 0.25;
  transition: cubic-bezier(0.48, 0, 0.32, 1.05) .85s;
}

.herocontent a:not(:hover){
  letter-spacing: 0px;
  transition: cubic-bezier(0.38, -0.35, 0.32, 1.05) .85s;
}

.herocontent p{
  font-family: "scriptCN", serif;
  font-size: 48rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  opacity: 0.45;
  filter: blur(3px);
}

.herocontent a:hover + p{
  filter:blur(0);
  transition: cubic-bezier(0.38, -0.35, 0.32, 1.05) .85s;
  transition-delay: 0.25s;
  opacity: 1;
}

.herocontent a:not(:hover) + p{
  filter:blur(3px);
  transition: cubic-bezier(0.38, -0.35, 0.32, 1.05) .85s;
  opacity: 0.45;
}

.herocontent p::after{
  content: "";
  display: block;
  width: 32rem;
  height: 32rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: solid #999 5rem;
  box-sizing: border-box;
  z-index: -1;
}

.herocontent a:hover + p::after{
  transition: cubic-bezier(0.38, -0.35, 0.32, 1.05) .85s;
  width: 110%;
  height: 110%;
  border: solid .6rem white;
}

.herocontent a:not(:hover) + p::after{
  transition: cubic-bezier(0.38, -0.35, 0.32, 1.05) .85s;
  width: 32rem;
  height: 32rem;
  border: solid #999 5rem;
  box-sizing: border-box;
  z-index: -1;
}


/* --------------------------------------------- */
/* HOME CONTENT */
/* --------------------------------------------- */

.index{
  height: 200vh;
}