@charset "utf-8";

/* --------------------------------------------- */
/* SECTION */
/* --------------------------------------------- */


@media screen and (max-width: 1100px) {
  html {
    font-size: 45%;
  }
}

section{
  width: 100vw;
  pointer-events: inherit;
  /* border: 1px solid black; */
}

.herocontent{
  height: 100vh;
  position: relative;
}

.herocontent a{
  font-family: "script";
  font-size: 14rem;
  line-height: 300%;
  color: var(--c0);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center;
  text-decoration: none;
  animation: asthma 3.33s ease-in-out infinite;
}

@keyframes asthma { 0%, 100% {transform: translate(-50%,-50%);} 50% {transform: translate(-50%,calc(-50% + 0.4rem));}}

@media screen and (max-width: 1200px) {
  .herocontent a{
    font-size: 12rem;
  }
}

.herocontent a:hover{
  filter:blur(5px);
  opacity: 0.25;
  transition: cubic-bezier(0.48, 0, 0.32, 1.05) .65s;
}

.herocontent a:not(:hover){
  letter-spacing: 0px;
  transition: cubic-bezier(0.38, -0.35, 0.32, 1.05) .65s;
}

.herocontent h1{
  font-family: "scriptCN", serif;
  font-size: 38rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  opacity: 0.45;
  filter: blur(3px);
  text-shadow: 0 0 30px rgba(255,255,255,.5);
  z-index: 1;
  animation: asthma-r 3.33s ease-in-out infinite;
  animation-delay: 1s;
}

@keyframes asthma-r { 0%, 100% {transform: translate(-50%,-50%);} 50% {transform: translate(-50%,-48.5%);}}

.herocontent a:hover + h1{
  filter:blur(0);
  transition: cubic-bezier(0.38, -0.35, 0.32, 1.05) .65s;
  transition-delay: 0.25s;
  opacity: 1;
}

.herocontent a:not(:hover) + h1{
  filter:blur(3px);
  transition: cubic-bezier(0.38, -0.35, 0.32, 1.05) .65s;
  opacity: 0.45;
}

.herocontent h1::after{
  content: "";
  display: block;
  width: 26rem;
  height: 26rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: solid var(--c3) 5rem;
  opacity: 0.35;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(255,255,255,.5),
              0 0 10px rgba(255,255,255,.5) inset;
  z-index: -1;
}

.herocontent a:hover + h1::after{
  transition: cubic-bezier(0.38, -0.35, 0.32, 1.05) .5s;
  width: 110%;
  height: 110%;
  border: solid .6rem white;
  opacity: 1;
}

.herocontent a:not(:hover) + h1::after{
  transition: cubic-bezier(0.38, -0.35, 0.32, 1.05) .4s;
  width: 32rem;
  height: 32rem;
  border: solid #999 5rem;
  box-sizing: border-box;
}

.herocontent button{
  width: 50vw;
  height: 3.3rem;
  /* background-image: url('../ui/down-03.svg');
  background-repeat: no-repeat;
  background-position: left; */
  z-index: 2;
  position: absolute;
  border: none;
  left: 0;
  padding-left: 5vw;
  bottom: 1.5rem;
  background-color: transparent;
  cursor: pointer;
  transition: .35s ease-in-out;
  text-align: left;
  color: var(--c5);
  font-family: 'italic', sans-serif;
  line-height: 3.3rem;
}

.herocontent button:hover{
  background-color: rgba(0,0,0,0.05);
}

.uidown{
  /* width: 100%; */
  height: 3rem;
  position: fixed;
  bottom: 1.5rem;
  left: 5vw;
  transform: translate(-50%,-50%);
  z-index: 3;
}

#prototype{
  font-size: 1rem;
  font-family: 'thin', sans-serif;
  letter-spacing: .2rem;
  color: var(--c2);
  position: fixed;
  z-index: 1;
  right: 5vw;
  bottom: 2rem;
  line-height: 1.5rem;
  /* text-shadow: .8rem .5rem 0 rgba(0,0,0,0.1); */
}


/* --------------------------------------------- */
/* CONTENT TABLE */
/* --------------------------------------------- */

.index{
  z-index: 1;
  padding: 5vw 10vw 10rem 5vw;
  position: relative;
}

h3{ /* NAVIGATION */
  font-size: 4rem;
  color: var(--c1);
  letter-spacing: .2rem;
  text-shadow: 1rem .5rem 0 rgba(0,0,0,0.05);
}

.table{
  top: 3rem;
  column-width: 25rem;
  gap: 5rem;
  row-gap: 2rem;
  left: 5vw;
  position: relative;
  list-style-type: none;
  padding-right: 10vw;
}


.table li a{
  font-size: 1.5rem;
  line-height: 2rem;
  text-decoration: none;
  /* color: var(--c4); */
  display: inline-block;
  width: 100%;
  padding: 1rem 0 1rem 1rem;
  transition: .25s;
  position: relative;
}

.table li a::before{
  content: "";
  width: .3rem;
  height: 100%;
  background-color: var(--c0);
  position: absolute;
  left: -.8rem;
  top: 50%;
  transform: translate(0,-50%);
  z-index: 1;
  opacity: 0;
}

.table li a:hover{
  background-color: var(--c3);
  color: white!important;
  transition: .1s;
}

.table li a:hover::before{
  opacity: 1;
  background-color: var(--c3);
  transition: .2s;
}

.table li a:visited{
  color: transparent;
}

/* --------------------------------------------- */
/* FOOTER */
/* --------------------------------------------- */

.footer{
  border: solid 1px var(--c0);
  width: 70vw;
  line-height: 2rem;
  background: var(--c0);
  z-index: 1;
  text-align: center;
  color: var(--c3);
  letter-spacing: .1rem;
  font-family: 'italic';
  position: fixed;
  bottom: 0;
}