@charset "utf-8";

@font-face {
  font-family: "regular-kor";
  src: url("../font/elandL.woff");
}

@font-face {
  font-family: "thin";
  src: url("../font/Raleway-Thin.woff");
}

@font-face {
  font-family: "light";
  src: url("../font/Raleway-Light.woff");
}

@font-face {
  font-family: "regular";
  src: url("../font/Raleway-Regular.woff");
}

@font-face {
  font-family: "bold";
  src: url("../font/Raleway-Bold.woff");
}

@font-face {
  font-family: "script";
  src: url("../font/Bahianita-Regular.ttf");
}

.kr{
  font-family: "regular-kor";
  font-size: 1.2rem;
  pointer-events: none;
}

/* CSS Document */
:root {
  --c0: #1f2023;
  --c1: #95bab2;
  --c2: #2b9886;
  --c3: #f2f2f2;
  --c4: #d1d6e5;
}

::selection {
  background-color: var(--c1);
  color: var(--c2);
}

*{
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
	box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background-color: #c1c2c9;
  overflow-x: hidden;
  overflow-y: auto;
  color: var(--c0);
}

/* CUSTOMIZED SCROLLBAR */
		/* width */
		::-webkit-scrollbar {
		  width: 5px;
		}
		/* Track */
		::-webkit-scrollbar-track {
		  box-shadow: inset 0 0 5px rgba(0,0,0,0.1);
		  border-radius: 5px;
		}
		/* Handle */
		::-webkit-scrollbar-thumb {
		  background: var(--c1);
		  box-shadow: none;
		  border-radius: 5px;
		}
		/* Handle on hover */
		::-webkit-scrollbar-thumb:hover {
		  background: var(--c2); 
		}

body{
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid yellow;
  margin: 0 auto;
  background: linear-gradient(red, blue);
  font-family: 'regular', sans-serif;
}

/* PARTICLE BACKGROUND */
.particle-bg{
  /* z-index: -1; */
  width: 100vw;
  height: 100vh;
  position: absolute;
  bottom: 0;
  left: 0;
  filter: blur(1px);
  background: linear-gradient(#aaa, #ccc);
}

/* .wrapper{
  pointer-events: none;
  border: solid 1px blue;
  width: 100%;
  height: 100%;
}

h1{
  font-family: "thin";
  font-size: 1.8rem;
  letter-spacing: 6px;
}

h2{
  font-family: "bold";
  font-size: 8rem;
}

h3{
  font-family: "thin";
  font-size: 3rem;
}

.nav{
  z-index: 1;
  position: absolute;
  top: 1rem;
  left: 50%;
  height: 5rem;
  width: 96vw;
  transform: translateX(-50%);
  background-color: rgba(255,255,255,0.5);
  border-radius: 5px;
}

.logo{
  pointer-events: all;
}

.logo::after{
  content: "CRUCYSM";
  font-family: "light";
  font-size: 1.8rem;
  color: white;
} */

section{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: inherit;
}

.herocontent p{
  font-family: "script";
  font-size: 10rem;
  letter-spacing: 0px;
  color: white;
  font-weight: normal;
  font-style: normal;
  position: relative;
  z-index: 1;
  text-align: center;
}

.herocontent p:hover{
  letter-spacing: 80px;
  /* transition: cubic-bezier(0.76, 0, 0.24, 1) 5s; */
  transition: cubic-bezier(0.38, -0.35, 0.32, 1.05) .65s;
}

.herocontent p:not(:hover){
  letter-spacing: 0px;
  transition: cubic-bezier(0.38, -0.35, 0.32, 1.05) .65s;
}