@charset "utf-8";

@font-face {
  font-family: "regular-kor";
  src: url("../font/elandL.woff");
}


/* CSS Document */
:root {
  --accent-color: #2e84cb;
  --accent-hover: #73f3ff;
  --bg-color: #f2f2f2;
}

::selection {
  background-color: var(--accent-color);
  color: black;
}

*{
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
	box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* to get font size at 10px and still customizable */
    background: rgb(46, 46, 46);
    background: linear-gradient(0deg, rgb(46, 46, 46) 0%, rgb(24, 24, 24) 100%);
}

/* CUSTOMIZED SCROLLBAR */
		/* width */
		::-webkit-scrollbar {
		  width: 5px;
		}
		/* Track */
		::-webkit-scrollbar-track {
		  box-shadow: inset 0 0 5px rgba(0,0,0,0.1);
		  border-radius: 5px;
		}
		/* Handle */
		::-webkit-scrollbar-thumb {
		  background: var(--accent-color);
		  box-shadow: none;
		  border-radius: 5px;
		}
		/* Handle on hover */
		::-webkit-scrollbar-thumb:hover {
		  background: var(--accent-hover); 
		}

/* PARTICLE BACKGROUND */
.particle-bg{
  z-index: -1!important;
  width: 100vw;
  height: 100vh;
}

body{
  width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
}
.span{
  border: solid 1px blue;
  height: 50vh;
}

.container{
  display: flex;
  border: solid 1px red;
  width: 85vw;
  content: "text";
  overflow-x: hidden;
  overflow-y: scroll;
  align-items: end;
  justify-content: center;
}

.para{
  color:#bbbbbb;
  font-size: 1.35rem;
  font-optical-sizing: auto;
  font-family: "regular-kor", normal, sans-serif;
  letter-spacing: 0.08rem;
  line-height: 150%;
}