@charset "utf-8";

.gowun-dodum-regular {
  font-family: "Gowun Dodum", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.song-myung-regular {
  font-family: "Song Myung", serif;
  font-weight: 400;
  font-style: normal;
}
/* .raleway-<uniquifier> {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

/* CSS Document */
:root {
  --accent-color: #4ba9d9;
  --accent-hover: #25adc2;
  --bg-color: #f2f2f2;
}

::selection {
  background-color: var(--accent-color);
  color: black;
}

*{
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
	/* font-family: Verdana, sans-serif; */
	box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* to get font size at 10px and still customizable */
  background-color: var(--bg-color);
}

/* CUSTOMIZED SCROLLBAR */
		/* width */
		::-webkit-scrollbar {
		  width: 5px;
		}
		/* Track */
		::-webkit-scrollbar-track {
		  box-shadow: inset 0 0 5px rgba(0,0,0,0.1);
		  border-radius: 5px;
		}
		/* Handle */
		::-webkit-scrollbar-thumb {
		  background: var(--accent-color);
		  box-shadow: none;
		  border-radius: 5px;
		}
		/* Handle on hover */
		::-webkit-scrollbar-thumb:hover {
		  background: var(--accent-hover); 
		}

body{
  width: 100vw;
  height: 100vh;
  display: flex;
  border: solid 1px blue;
  justify-content: center;
  align-items: center;
}

.wrapper{
  display: flex;
  border: solid 1px red;
  width: 95vw;
  height: 95vh;
  content: "text";
  overflow-x: hidden;
  overflow-y: scroll;
}

/* .signature{
  font-family: "Raleway", Verdana, sans-serif;
  font-optical-sizing: auto;
  font-weight: 180;
  font-style: normal;
  font-size: 3rem;
  color: #7E7E7E;
  pointer-events: none;
  letter-spacing: 1rem;
  border: solid 1px red;
} */

.content{
  font-family: "Gowun Dodum", sans-serif;
  font-size: 1.65rem;
  width: 50%;
}